.showComment {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(16, 13, 13, 0.4);
}

.container {
  display: flex;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 500px;
}

.postPic {
  background-color: black;
  display: flex;
  align-items: center;
}

.postPic img {
  object-fit: contain;
  width: 100%;
}

.details {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.comment-section {
  flex-grow: 4;
  text-align: left;
  margin-left: 10px;
}


.post-detail-actions {
  margin-left: auto; /* Pushes the icons to the right */
  display: flex;
  gap: 15px;
  align-items: center;
}

.delete-icon, .close-icon {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s ease;
}

.delete-icon {
  color: #dc3545;
}

.close-icon {
  color: #555;
}

.delete-icon:hover, .close-icon:hover {
  transform: scale(1.1);
}

.comment
{
    border: none;
  background-color: transparent;
  color: #0095f6;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 14px;
}